.comingsoonrow {
  height: 100vh;
}

 body {
  font-family: "IBMPlexSansArabic-Medium";

} 
.secondsection{
  font-family: "IBMPlexSansArabic-Medium";
}
/* fonts */
@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  src: url(fonts/IBMPlexSansArabic-Bold.ttf);
}
@font-face {
  font-family: "IBMPlexSansArabic-ExtraLight";
  src: url(fonts/IBMPlexSansArabic-ExtraLight.ttf);
}
@font-face {
  font-family: "IBMPlexSansArabic-Light";
  src: url(fonts/IBMPlexSansArabic-Light.ttf);
}
@font-face {
  font-family: "IBMPlexSansArabic-Medium";
  src: url(fonts/IBMPlexSansArabic-Medium.ttf);
}
@font-face {
  font-family: "IBMPlexSansArabic-Regular";
  src: url(fonts/IBMPlexSansArabic-Reuglar.ttf);
}
.comingsoonfont {
  font-family: "IBMPlexSansArabic-Medium";
}

/* modify navpills  */
.active {
  background-color: #237227 !important;
  border-radius: 20px !important;
  width: 120px;
  text-align: center;
  
  color: white !important;
  font-family: "IBMPlexSansArabic-Medium";
}
.nav-link {
  /* color: #237227 !important; */
}
.foractive {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBMPlexSansArabic-Medium";
}
i {
  color: #237227;
}


.section-one-title {
  font-size: 3em;
  color: #237227;
  font-weight: 700;
}

.section-one-description {
  font-weight: 900;
}

.button {
  background-color: #237227;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  width: 90px;
  color: white;
  transition: all 0.5s;
}
.button:hover {
  background-color: #aba5a585;
}

.greensquare {
  height: 130px;
  width:100%;
  background-color: #237227d9  ; 
  position: relative;
  z-index: 10;
}


.mop-image{
  width:300px;
  height: 500px;
}
.package-image{
position: relative;
bottom: 15%;
z-index: 15;
}

.package-image-column{
  display: flex;
  align-items: center;
  justify-content: center;

}

/* .dot-package{

  height: 20px;
  width:20px;
  background-color: black;
  color:black;
} */


/* second section css */
.secondsection{
  height:100vh;
  padding-top:20px;
}
.secondsection h2{
  font-size: 3em;
  font-weight: 700;

}

.second-section-title{
  position: relative;
  z-index: 1;
}
.second-section-title::before{
  display: block;
  height:15px;
  width:130px;
  content:'  ';
  background-color:#FFD544;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.second-section p{
  font-weight: 400;
background-color: blue;
}

.card-body a{
background-color: #237227;
font-weight: 500 !important;
}
.card-title{
  color: #237227 !important; 
}
.badge{
  z-index:1 ;
  top:3%;
  right:3%;
}
